<mat-card class="auth-card">
  <mat-card-header class="auth-header">
    <mat-card-title>Overall statistics</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <div *ngIf="loading">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!loading && statistics">
      <p>Number of stations: {{ statistics.stations }}</p>
      <p>Number of bicycles: {{ statistics.bicycles }}</p>
      <p>Total Rents: {{ statistics.rents }}</p>
      <p>Total hours rented: {{ statistics.hoursRented }}</p>
      <p>Total credits spent: {{ statistics.creditsSpent }}</p>
    </div>
  </mat-card-content>
</mat-card>
