form {
  margin-top: 30px;
}

.addButton {
  margin-left: 20px;
}

.bicycle-list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
  gap: 10px;
}

.bicycle {
  width: 150px !important;
}
