<div [class]="(loading$ | async) ? 'error' : ''">
  <mat-card class="auth-card" *ngIf="!(loading$ | async)">
      <mat-card-header class="auth-header">
        <mat-card-subtitle>Ride a bike!</mat-card-subtitle>
        <mat-card-title>Get your forgot password Token</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-divider></mat-divider>
        <form [formGroup]="form">
          <app-input
            title="Email"
            placeholder="Email"
            [control]="email"
            [error]="emailError"
          ></app-input>
        </form>
        <mat-error *ngIf="error$ | async as error">{{ error }}</mat-error>
      </mat-card-content>
      <mat-card-actions class="auth-actions">
        <button
          mat-stroked-button
          color="primary"
          [disabled]="loading$ | async"
          (click)="verify()"
        >
          Send Email
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-spinner *ngIf="(loading$ | async)"></mat-spinner>
</div>
  