<google-map
  (mapInitialized)="onMapReady($event)"
  [height]="mapHeight"
  [width]="mapWidth"
  [options]="mapOptions"
  (mapClick)="onMapClick($event)"
  id="map"
>
  <map-marker
    *ngIf="userCords"
    [position]="userCords"
    [options]="userMarkerOptions"
  ></map-marker>

  <map-marker
    *ngFor="let station of stations"
    (mapClick)="onMarkerClick(station.id)"
    [position]="{ lat: station.lat, lng: station.lng }"
    [options]="markerOptions"
  ></map-marker>

  <map-marker
    *ngIf="tempMarker"
    [position]="tempMarker"
    [options]="tempMarkerOptions"
  ></map-marker>
</google-map>

<!-- <div id="map1"></div> -->
