<div [class]="(loading$ | async) ? 'error' : ''">
  <mat-card class="auth-card" *ngIf="!(loading$ | async)">
    <mat-card-header class="auth-header">
      <mat-card-subtitle>Ride a bike!</mat-card-subtitle>
      <mat-card-title>Login to your account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <form [formGroup]="form">
        <app-input
          title="Email"
          placeholder="Email"
          [control]="email"
          [error]="emailError"
        ></app-input>
        <app-input
          title="Password"
          placeholder="Password"
          type="password"
          [control]="password"
          [error]="passwordError"
        ></app-input>
      </form>
      <mat-error *ngIf="error$ | async as error">{{ error }}</mat-error>
      <a routerLink="/forgot-password" mat-button color="primary"
        >Forgot Password?</a
      >
    </mat-card-content>
    <mat-card-actions class="auth-actions">
      <button
        mat-stroked-button
        color="primary"
        [disabled]="loading$ | async"
        (click)="login()"
      >
        Login
      </button>
    </mat-card-actions>
    <mat-card-actions class="google-actions">
      <div class="line"></div>
      <div class="or">or</div>
      <div class="line"></div>
    </mat-card-actions>
    <mat-card-actions class="google-actions">
      <asl-google-signin-button
        type="standard"
        size="large"
        class="google-button"
      ></asl-google-signin-button>
    </mat-card-actions>
    <mat-card-content class="auth-links">
      <a routerLink="/register" mat-button color="primary"
        >Do not have account? Register</a
      >
    </mat-card-content>
  </mat-card>
  <mat-spinner *ngIf="loading$ | async"></mat-spinner>
</div>
