.auth-actions {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.auth-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.error {
  position: absolute;
  top: 45%;
  left: 45%;
}