<main [class]="(loading$ | async) ? 'error' : ''">
  <div *ngIf="!(loading$ | async)">
    <div class="infoContainer">
      <mat-error *ngIf="error$ | async as error">{{ error }}</mat-error>
      <div class="imageContainer">
        <img
          [src]="user.imageUrl ? user.imageUrl : 'assets/default-profle.jpeg'"
          alt="profile image"
          class="profileImage"
          (click)="openDialog('0ms', '0ms')"
        />
      </div>
      <div class="contentContainer">
        <h1 class="mainNaslov">{{ user.username }}</h1>
        <p class="contentParagraf">{{ user.firstName }} {{ user.lastName }}</p>
        <div class="line"></div>
        <p class="contentParagraf">Email: {{ user.email }}</p>
        <p class="contentParagraf">Role: {{ user.role }}</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="inputContainer">
      <h1 class="inputNaslov">Change Username</h1>
      <app-input
        title="Username"
        placeholder="Username"
        [control]="username"
        [error]="usernameError"
      ></app-input>
      <button class="seeMore" (click)="changeUsername()">
        Change Username
      </button>
    </div>
    <div class="inputContainer">
      <h1 class="inputNaslov">Change Password</h1>
      <app-input
        title="Password"
        placeholder="Password"
        type="password"
        [control]="password"
        [error]="passwordError"
      ></app-input>
      <app-input
        title="Confirm Password"
        placeholder="Confirm Password"
        type="password"
        [control]="confirmPassword"
        [error]="confirmPasswordError"
      ></app-input>
      <button class="seeMore" (click)="changePassword()">
        Change Password
      </button>
    </div>
    <div class="inputContainer">
      <h1 class="inputNaslov">Delete Account</h1>
      <app-input
        title="Password"
        placeholder="Password"
        type="password"
        [control]="deletePassword"
        [error]="deletePasswordError"
      ></app-input>
      <button class="seeMore" (click)="deleteAcc()">Delete Account</button>
    </div>
  </div>
    <mat-spinner *ngIf="loading$ | async"></mat-spinner>
</main>
